/*
    

     /$$$$$$$              /$$                      /$$   /$$
    | $$__  $$            | $$                     | $$  / $$
    | $$  \ $$  /$$$$$$  /$$$$$$    /$$$$$$        |  $$/ $$/
    | $$  | $$ |____  $$|_  $$_/   |____  $$ /$$$$$$\  $$$$/ 
    | $$  | $$  /$$$$$$$  | $$      /$$$$$$$|______/ >$$  $$ 
    | $$  | $$ /$$__  $$  | $$ /$$ /$$__  $$        /$$/\  $$
    | $$$$$$$/|  $$$$$$$  |  $$$$/|  $$$$$$$       | $$  \ $$
    |_______/  \_______/   \___/   \_______/       |__/  |__/
                                                         
    
*/

@font-face {
    font-family: LinLibertine_R;
    src: url("./LinLibertine_R.otf") format("opentype");
}
body {
    background-color: #141414;
    color: #ffffff;
    font-family: Inter, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}
.container {
    max-width: 800px;
    padding: 40px 20px;
}
main {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    justify-content: center;
}
h1 {
    font-family: LinLibertine_R;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2.125em;
    display: inline-block;
    margin: 0;
}
a {
    color: #0c0c0c;
    background-color: #f8fafc;
    font-weight: 600;
    text-decoration: none;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    display: inline-block;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}
a:hover {
    background-color: #E0E3E5;
}
.version {
    background-color: #202020;
    padding: 0.25rem 0.5rem;
    margin-left: 0.575rem;
    border-radius: 9999px;
    font-size: 16px;
    font-weight: 500;
}
nav {
    margin-bottom: 2rem;
}
.github {
    margin-right: 0.5rem;
}
.github-icon {
    font-size: 16px !important;
    margin-right: 0.325rem;
}
summary{
    color: #9e9e9e;
    font-size: 14px;
    margin-bottom: 2rem;
    margin-top: 0;
}